name: VIDAI-LMS-SERVICES Push Trigger

on:
  push:
    branches:
      - main
      - devops-build

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -f devops/Dockerfile \
            -t ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            echo "Pull latest image"
            docker pull ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest

            echo "Stop old container"
            docker ps -aq --filter "name=vidai-backend" | xargs -r docker stop
            docker ps -aq --filter "name=vidai-backend" | xargs -r docker rm

            echo "Start new container"
            docker run -d \
              --restart always \
              --name vidai-backend \
              -p 8004:8000 \
              --add-host=host.docker.internal:host-gateway \
              -e EMAIL_BACKEND="${{ secrets.EMAIL_BACKEND }}" \
              -e EMAIL_HOST="${{ secrets.EMAIL_HOST }}" \
              -e EMAIL_PORT="${{ secrets.EMAIL_PORT }}" \
              -e EMAIL_USE_TLS="${{ secrets.EMAIL_USE_TLS }}" \
              -e EMAIL_HOST_USER="${{ secrets.EMAIL_HOST_USER }}" \
              -e EMAIL_HOST_PASSWORD="${{ secrets.EMAIL_HOST_PASSWORD }}" \
              -e FRONTEND_URL="${{ secrets.FRONTEND_URL }}" \
              -e FRONTEND_BASE_URL="${{ secrets.FRONTEND_BASE_URL }}" \
              -e TWILIO_ACCOUNT_SID="${{ secrets.TWILIO_ACCOUNT_SID }}" \
              -e TWILIO_AUTH_TOKEN="${{ secrets.TWILIO_AUTH_TOKEN }}" \
              -e TWILIO_PHONE_NUMBER="${{ secrets.TWILIO_PHONE_NUMBER }}" \
              ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest

            echo "Run database migrations"
            docker exec vidai-backend python manage.py migrate || true
