name: VIDAI-LMS-SERVICES Push Trigger

on:
  push:
    branches:
      - main
      - devops-build

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      # Checkout code

      - name: Checkout repository
        uses: actions/checkout@v4


      # Setting up Docker builder

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      #  Login to Docker registry

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build --no-cache -f devops/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest


      # Deploy to Hostinger server

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest

            docker ps -aq --filter "name=vidai-backend" | xargs -r docker stop
            docker ps -aq --filter "name=vidai-backend" | xargs -r docker rm

            docker run -d \
              --restart always \
              --name vidai-backend \
              -p 8004:8000 \
              --add-host=host.docker.internal:host-gateway \
              ${{ secrets.DOCKER_USERNAME }}/vidai-backend:latest

